In [87]:
import pandas as pd
import numpy as np
import sklearn 

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

# load dataset
pima = pd.read_csv("speedDating_trab.csv")

pima.head(10)

,Unnamed: 0,id,partner,age,age_o,goal,date,go_out,int_corr,length,met,like,prob,match
0,1,1.0,1,21.0,27.0,2.0,7.0,1.0,0.14,2.0,1.0,7.0,6.0,0
1,2,1.0,2,21.0,22.0,2.0,7.0,1.0,0.54,2.0,1.0,7.0,5.0,0
2,3,1.0,3,21.0,22.0,2.0,7.0,1.0,0.16,2.0,1.0,7.0,NaN,1
3,4,1.0,4,21.0,23.0,2.0,7.0,1.0,0.61,2.0,1.0,7.0,6.0,1
4,5,1.0,5,21.0,24.0,2.0,7.0,1.0,0.21,2.0,1.0,6.0,6.0,1
5,6,1.0,6,21.0,25.0,2.0,7.0,1.0,0.25,2.0,1.0,6.0,5.0,0
6,7,1.0,7,21.0,30.0,2.0,7.0,1.0,0.34,2.0,1.0,6.0,5.0,0
7,8,1.0,8,21.0,27.0,2.0,7.0,1.0,0.50,2.0,NaN,6.0,7.0,0
8,9,1.0,9,21.0,28.0,2.0,7.0,1.0,0.28,2.0,1.0,7.0,7.0,1
9,10,1.0,10,21.0,24.0,2.0,7.0,1.0,-0.36,2.0,1.0,6.0,6.0,0

In [88]:
pima.isnull().sum()

Unnamed: 0      0
id              1
partner         0
age            95
age_o         104
goal           79
date           97
go_out         79
int_corr      158
length        915
met           375
like          240
prob          309
match           0
dtype: int64

In [89]:
#tds os nans de tds as colunas menos o int_corr vamos preencher com a moda
#o int_corr preenchemos com a media

gf= pima['prob'].mode()[0]
pima['prob'].fillna(value=gf,inplace=True)

gf= pima['like'].mode()[0]
pima['like'].fillna(value=gf,inplace=True)

gf= pima['met'].mode()[0]
pima['met'].fillna(value=gf,inplace=True)

gf= pima['length'].mode()[0]
pima['length'].fillna(value=gf,inplace=True)

gf= pima['int_corr'].mean()
pima['int_corr'].fillna(value=gf,inplace=True)

gf= pima['go_out'].mode()[0]
pima['go_out'].fillna(value=gf,inplace=True)

gf= pima['date'].mode()[0]
pima['date'].fillna(value=gf,inplace=True)

gf= pima['goal'].mode()[0]
pima['goal'].fillna(value=gf,inplace=True)

gf= pima['age_o'].mode()[0]
pima['age_o'].fillna(value=gf,inplace=True)

gf= pima['age'].mode()[0]
pima['age'].fillna(value=gf,inplace=True)

gf= pima['id'].mode()[0]
pima['id'].fillna(value=gf,inplace=True)

In [90]:
#convertemos de float para int
pima[['prob','like','met','length','go_out','date','goal','age_o','age','id']]=  pima[['prob','like','met','length','go_out','date','goal','age_o','age','id']].astype(int)

pima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8378 non-null   int64
 1   id          8378 non-null   int64
 2   partner     8378 non-null   int64
 3   age         8378 non-null   int64
 4   age_o       8378 non-null   int64
 5   goal        8378 non-null   int64
 6   date        8378 non-null   int64
 7   go_out      8378 non-null   int64
 8   int_corr    8378 non-null   float64
 9   length      8378 non-null   int64
 10  met         8378 non-null   int64
 11  like        8378 non-null   int64
 12  prob        8378 non-null   int64
 13  match       8378 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 916.5 KB

In [91]:
pima.isnull().sum()

Unnamed: 0    0
id            0
partner       0
age           0
age_o         0
goal          0
date          0
go_out        0
int_corr      0
length        0
met           0
like          0
prob          0
match         0
dtype: int64

In [92]:
pima.head(10)

,Unnamed: 0,id,partner,age,age_o,goal,date,go_out,int_corr,length,met,like,prob,match
0,1,1,1,21,27,2,7,1,0.14,2,1,7,6,0
1,2,1,2,21,22,2,7,1,0.54,2,1,7,5,0
2,3,1,3,21,22,2,7,1,0.16,2,1,7,5,1
3,4,1,4,21,23,2,7,1,0.61,2,1,7,6,1
4,5,1,5,21,24,2,7,1,0.21,2,1,6,6,1
5,6,1,6,21,25,2,7,1,0.25,2,1,6,5,0
6,7,1,7,21,30,2,7,1,0.34,2,1,6,5,0
7,8,1,8,21,27,2,7,1,0.50,2,0,6,7,0
8,9,1,9,21,28,2,7,1,0.28,2,1,7,7,1
9,10,1,10,21,24,2,7,1,-0.36,2,1,6,6,0

In [93]:

#dropamos a tabela int_corr pq é irrelevante neste momento
pima = pima.drop('int_corr',1)

#divisao do cassos em q tem match e os q n tem match
resultados = pima['match']
dados = pima.drop(['match'],axis=1)


# Split dataset into training set and test set (30%/70%)
dados_treino, dados_teste, resultados_treino, resultados_teste= train_test_split( dados, resultados, test_size=0.3, random_state=1)

In [94]:
pima.head(10)

,Unnamed: 0,id,partner,age,age_o,goal,date,go_out,length,met,like,prob,match
0,1,1,1,21,27,2,7,1,2,1,7,6,0
1,2,1,2,21,22,2,7,1,2,1,7,5,0
2,3,1,3,21,22,2,7,1,2,1,7,5,1
3,4,1,4,21,23,2,7,1,2,1,7,6,1
4,5,1,5,21,24,2,7,1,2,1,6,6,1
5,6,1,6,21,25,2,7,1,2,1,6,5,0
6,7,1,7,21,30,2,7,1,2,1,6,5,0
7,8,1,8,21,27,2,7,1,2,0,6,7,0
8,9,1,9,21,28,2,7,1,2,1,7,7,1
9,10,1,10,21,24,2,7,1,2,1,6,6,0

In [95]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy")

# Train Decision Tree Classifer
clf = clf.fit(dados_treino, resultados_treino)

#Predict the response for test dataset
predicted_test = clf.predict(dados_teste)

In [96]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(resultados_teste, predicted_test))

Accuracy: 0.7883850437549722

In [97]:
#comparamos com o naive bayes
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
gnb = GaussianNB()

#Train the model using the training sets
gnb.fit(dados_treino,resultados_treino)

#Predict the response for test dataset
predicted3 = gnb.predict(dados_teste)
print("Accuracy:",metrics.accuracy_score(resultados_teste, predicted3))

Accuracy: 0.8321400159108989

In [98]:
#comparar com o random Forest

from sklearn.ensemble import RandomForestClassifier # Import Decision Tree Classifier
# Create Decision Tree classifer object
clf2 = RandomForestClassifier()

# Train Decision Tree Classifer
clf2 = clf2.fit(dados_treino, resultados_treino)

#Predict the response for test dataset
predicted2 = clf2.predict(dados_teste)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(resultados_teste, predicted2))

Accuracy: 0.8456642800318218